In [2]:
import pandas as pd

In [2]:
df = pd.read_csv('D:/05-DUT/NAM4-KI1/PBL6/Crawl/Merge/Chillies.csv')
df.head(1)

,AlbumID,Album,ReleaseDate,Artists,AlbumType,TotalTracks,AlbumImage,TrackID,TrackName,ArtistsName,DiscNumber,TrackNumber,TrackDuration,PreviewUrl,audio_path
0,7FbJRg2IYkVJioqMayEukG,Qua Khung Cửa Sổ,2021-05-05,Chillies (ID: 2xvW7dgL1640K8exTcRMS4),album,10,https://i.scdn.co/image/ab67616d0000b2734a5c0d...,5xfeQsy7aUdM1pHvTRZMDI,Bao Nhiêu,Chillies (ID: 2xvW7dgL1640K8exTcRMS4),1,1,229666,https://p.scdn.co/mp3-preview/4313d89acf73967b...,https://audiomelodies.nyc3.digitaloceanspaces....

In [3]:
print(df.columns)

Index(['AlbumID', 'Album', 'ReleaseDate', 'Artists', 'AlbumType',
       'TotalTracks', 'AlbumImage', 'TrackID', 'TrackName', 'ArtistsName',
       'DiscNumber', 'TrackNumber', 'TrackDuration', 'PreviewUrl',
       'audio_path'],
      dtype='object')

### Album

In [27]:
unique_ids = df.drop_duplicates(subset=['AlbumID'])
album = unique_ids[['AlbumID', 'Album', 'ReleaseDate', 'AlbumImage', 'AlbumType']]
album.head()

,AlbumID,Album,ReleaseDate,AlbumImage,AlbumType
0,7FbJRg2IYkVJioqMayEukG,Qua Khung Cửa Sổ,2021-05-05,https://i.scdn.co/image/ab67616d0000b2734a5c0d...,album
10,02NJ8bzgtfdFCjtugWxqU3,"Cơn Mưa Rào Đầu Tiên (from ""Mùa Hè Đẹp Nhất"")",2024-06-30,https://i.scdn.co/image/ab67616d0000b273612e4a...,single
11,5ysXBJHiqhcE5Pw8p1XDia,Đại Lộ Mặt Trời,2024-01-04,https://i.scdn.co/image/ab67616d0000b273249abe...,EP
13,10iLcoMKkITSroCcStXUTK,Có Em Đời Bỗng Vui,2023-06-27,https://i.scdn.co/image/ab67616d0000b2732ba0ae...,single
14,1ds7bOlVzPrP64m8Fyz1Tk,đưa em về nhàa,2023-04-24,https://i.scdn.co/image/ab67616d0000b273f5f1c7...,single

In [28]:

insert_sql = 'INSERT INTO "Album" ("albumId", "title", "releaseDate", "albumType", "createdAt", "updatedAt") VALUES\n'

values = []
for index, row in album.iterrows():
    values.append(f"('{row['AlbumID']}', '{row['Album']}', '{row['ReleaseDate']}', '{row['AlbumType'].lower()}', NOW(), NOW())")

insert_sql += ",\n".join(values) + ";"


sql_file_path = 'D:/05-DUT/NAM4-KI1/PBL6/Crawl/SQL/album.sql'  # Thay đổi thành đường dẫn thực tế của bạn

with open(sql_file_path, 'w',  encoding='utf-8') as file:
    file.write(insert_sql)

### ALBUM IMAGE

In [ ]:
unique_ids = df.drop_duplicates(subset=['AlbumID'])
album_image = unique_ids[['AlbumID', 'AlbumImage']]
# album_image.head()

# https://i.scdn.co/image/ab67616d0000b2734a5c0d176134cb5ab9db4924 (size: 640) || https://i.scdn.co/image/ab67616d00001e024a5c0d176134cb5ab9db4924 (size: 300) || https://i.scdn.co/image/ab67616d000048514a5c0d176134cb5ab9db4924 (size: 64)

In [71]:

insert_sql = 'INSERT INTO "AlbumImage" ("albumId", "image", "size", "createdAt", "updatedAt") VALUES\n'

values = []
for index, row in album_image.iterrows():
    # print(row['AlbumImage'])
    images = row['AlbumImage'].split('||')

    for img in images:
        img = img.split('(')
        img_url = img[0].strip()
        # print(img_url)
        img_size = img[1].strip().split(')')[0].strip().split('size:')[1].strip()
        # print(img_size)
    # print(image_link)
        values.append(f"('{row['AlbumID']}', '{img_url}', '{img_size}', NOW(), NOW())")

insert_sql += ",\n".join(values) + ";"


sql_file_path = 'D:/05-DUT/NAM4-KI1/PBL6/Crawl/SQL/album_image.sql'  # Thay đổi thành đường dẫn thực tế của bạn

with open(sql_file_path, 'w',  encoding='utf-8') as file:
    file.write(insert_sql)

NameError: name 'album_image' is not defined

### SONG

In [90]:
df = pd.read_csv('D:/05-DUT/NAM4-KI1/PBL6/Crawl/Merge/Chillies.csv')
# unique_ids = df.drop_duplicates(subset=['TrackID'])
tracks = df[['TrackID','AlbumID', 'TrackName', 'TrackDuration', 'audio_path', ]]
tracks.head()

,TrackID,AlbumID,TrackName,TrackDuration,audio_path
0,5xfeQsy7aUdM1pHvTRZMDI,7FbJRg2IYkVJioqMayEukG,Bao Nhiêu,229666,https://audiomelodies.nyc3.digitaloceanspaces....
1,0JKEP4dB1riE6l7Kq5kJm1,7FbJRg2IYkVJioqMayEukG,Em Đừng Khóc,267230,https://audiomelodies.nyc3.digitaloceanspaces....
2,0zGOn9WCE4UOUM5Ngeu4kx,7FbJRg2IYkVJioqMayEukG,Giá Như,297000,https://audiomelodies.nyc3.digitaloceanspaces....
3,6NCBemUJvjspFiLuATSUm3,7FbJRg2IYkVJioqMayEukG,Ms. May (feat. Magazine),203593,https://audiomelodies.nyc3.digitaloceanspaces....
4,3H6nzsPNMttEvUl3ai3xN8,7FbJRg2IYkVJioqMayEukG,Vùng Ký Ức,296500,https://audiomelodies.nyc3.digitaloceanspaces....

In [94]:
df = pd.read_csv('D:/05-DUT/NAM4-KI1/PBL6/Crawl/Merge/Chillies.csv')
# unique_ids = df.drop_duplicates(subset=['TrackID'])
tracks = df[['TrackID','AlbumID', 'TrackName', 'TrackDuration', 'audio_path', ]]
insert_sql = 'INSERT INTO "Song" ("id", "albumId", "title", "duration", "lyric", "filePathAudio", "privacy", "uploadUserId", "createdAt", "updatedAt") VALUES\n'

values = []
for index, row in tracks.iterrows():
    id = row['TrackID']
    albumId = row['AlbumID']
    title = row['TrackName']
    duration = row['TrackDuration']
    lyric = "lyric"
    filePathAudio = row['audio_path']
    privacy = False
    uploadUserId = "Null"
    values.append(f"('{id}' ,'{albumId}', '{title}', '{duration}', '{lyric}', '{filePathAudio}', '{privacy}', '{uploadUserId}', NOW(), NOW())")

insert_sql += ",\n".join(values) + ";"


sql_file_path = 'D:/05-DUT/NAM4-KI1/PBL6/Crawl/SQL/tracks.sql'  # Thay đổi thành đường dẫn thực tế của bạn

with open(sql_file_path, 'w',  encoding='utf-8') as file:
    file.write(insert_sql)

### ARTIST

In [97]:
df = pd.read_csv('D:/05-DUT/NAM4-KI1/PBL6/Crawl/Data-Artist/inf.csv')

unique_ids = df.drop_duplicates(subset=['Artist ID'])
artists = unique_ids[['Artist ID', ' Artist Name', ' Popularity', ' Genres', ' Images']]
artists.head()
insert_sql = 'INSERT INTO "Artist" ("id", "name", "avatar", "bio", "createdAt", "updatedAt") VALUES'

values = []
for index, row in artists.iterrows():
    id = row['Artist ID']
    name = row[' Artist Name'].strip()
    avatar = row[' Images'].split('||')[1].split('(')[0].strip()
    bio = 'Null'
    values.append(f"('{id}', '{name}', '{avatar}', '{bio}', NOW(), NOW())")

insert_sql += ",\n".join(values) + ";"


sql_file_path = 'D:/05-DUT/NAM4-KI1/PBL6/Crawl/SQL/artists.sql'  # Thay đổi thành đường dẫn thực tế của bạn

with open(sql_file_path, 'w',  encoding='utf-8') as file:
    file.write(insert_sql)

### ARTIST SONG

In [23]:
df = pd.read_csv('D:/05-DUT/NAM4-KI1/PBL6/Crawl/Merge/Chillies.csv')
unique_ids = df.drop_duplicates(subset=['TrackID'])
artist_song = unique_ids[['AlbumID', 'TrackName', 'TrackDuration', 'audio_path', ]]
unique_ids.columns

Index(['AlbumID', 'Album', 'ReleaseDate', 'Artists', 'AlbumType',
       'TotalTracks', 'AlbumImage', 'TrackID', 'TrackName', 'ArtistsName',
       'DiscNumber', 'TrackNumber', 'TrackDuration', 'PreviewUrl',
       'audio_path'],
      dtype='object')

In [58]:
unique_ids = df.drop_duplicates(subset=['TrackID'])
artist_song = unique_ids[['TrackID', 'Artists']]
artist_song
insert_sql = 'INSERT INTO "ArtistSong" ("songId", "artistId", "main", "createdAt", "updatedAt") VALUES\n'

values = []
for index, row in artist_song.iterrows():
    songId = row['TrackID']
    artists = row['Artists'].split('||')
    mainId = artists[0].split('(ID:')[1].split(')')[0].strip()
    # print(mainId)

    main = True
    for artist in artists:
        # print(artist)
        artistId = artist.split('(ID:')[1].split(')')[0].strip()
        if artistId == mainId:
            main = True
        else: main = False

        values.append(f"('{songId}', '{artistId}', '{main}', NOW(), NOW())")


insert_sql += ",\n".join(values) + ";"


sql_file_path = 'D:/05-DUT/NAM4-KI1/PBL6/Crawl/SQL/artist_song.sql'  # Thay đổi thành đường dẫn thực tế của bạn

with open(sql_file_path, 'w',  encoding='utf-8') as file:
    file.write(insert_sql)

### Genre

### Genre artist

In [69]:


unique_ids = df.drop_duplicates(subset=['Artist ID'])
artists = unique_ids[['Artist ID', ' Artist Name', ' Popularity', ' Genres', ' Images']]
artists.head()
insert_sql = 'INSERT INTO "Artist" ("artistId", "genreId", "createdAt", "updatedAt") VALUES'

values = []
for index, row in artists.iterrows():
    artistId =  row['Artist ID'].strip()
    genres = row[' Genres'].split('||')
    for genre in genres:
        gen = genre.strip()
        # print(gen)

    values.append(f"('{artistId}', '{gen}', NOW(), NOW())")

insert_sql += ",\n".join(values) + ";"


sql_file_path = 'D:/05-DUT/NAM4-KI1/PBL6/Crawl/SQL/artist_genre.sql'  # Thay đổi thành đường dẫn thực tế của bạn

with open(sql_file_path, 'w',  encoding='utf-8') as file:
    file.write(insert_sql)